<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/public/css/github-markdown.css">
  <style>
    .markdown-body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }

    @media (max-width: 767px) {
      .markdown-body {
        padding: 15px;
      }
    }
  </style>
</head>

<body>
  <button onclick="window.history.back()">Back</button>
  <div class="markdown-body">{{# content }}</div>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io()
    socket.on('update-content', data => {
      const pathname = decodeURI(window.location.pathname)
      if (pathname === data.url) {
        document.querySelector('.markdown-body').innerHTML = data.html
      }
    })
  </script>
</body>

</html>
